body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #111, #000);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #0a0a0a;
  border: 1px solid #222;
  padding: 40px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 25px rgba(250, 204, 21, 0.1);
}

h1 {
  color: #facc15;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 12px;
  color: #888;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #333;
  background: #111;
  color: white;
  outline: none;
  transition: 0.2s;
}

input:focus {
  border-color: #facc15;
  box-shadow: 0 0 8px rgba(250, 204, 21, 0.3);
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  background: #facc15;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #eab308;
  transform: scale(1.00);
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #666;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer a {
  color: #facc15;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}